body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	font-family: cursive;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 345px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left {
	padding: 5px;
}
.body-right {
	padding: 20px;
	color: gray;
}
input {
	border: none;
	border-bottom: grey;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: black;
	font-family: cursive;
}
